<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.addhen.birudo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
            android:name="org.addhen.birudo.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>
    <uses-permission android:name="org.addhen.birudo.permission.C2D_MESSAGE"/>
    <application
            android:name=".BirudoroguApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.activity.MainActivity"
                android:exported="true"
                android:allowEmbedded="true"
                android:taskAffinity=""
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.activity.SettingsActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <receiver
                android:name="org.addhen.birudo.receiver.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="org.addhen.birudo"/>
            </intent-filter>
        </receiver>
        <service
                android:name="org.addhen.birudo.service.GcmIntentService"
                android:exported="false"/>
    </application>

</manifest>
